{#
/**
 * @file
 * Default theme implementation to display a Drupal installation page.
 *
 * All the available variables are mirrored in html.html.twig and
 * page.html.twig. Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_install_page()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  {{ head }}
  <title>{{ head_title }}</title>
  {{ styles }}
  {{ scripts }}
</head>
<body class="{{ attributes.class }}">

  <div class="l-container">

    <header role="banner">
      {% if site_name or site_slogan %}
        <div class="name-and-slogan">
          {% if site_name %}
            <h1>{{ site_name }}</h1>
          {% endif %}
          {% if site_slogan %}
            <div class="site-slogan">{{ site_slogan }}</div>
          {% endif %}
        </div>{# /.name-and-slogan #}
      {% endif %}
    </header>

    <main role="main">
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}
      {{ messages }}
      {{ content }}
    </main>

    {% if sidebar_first %}
      <aside class="l-sidebar-first" role="complementary">
        {{ sidebar_first }}
      </aside>{# /.l-sidebar-first #}
    {% endif %}

    {% if sidebar_second %}
      <aside class="l-sidebar-second" role="complementary">
        {{ sidebar_second }}
      </aside>{# /.l-sidebar-second #}
    {% endif %}

    {% if footer %}
      <footer role="contentinfo">
        {{ footer }}
      </footer>
    {% endif %}

</body>
</html>
