{#
/**
 * @file
 * Default theme implementation to display a Drupal installation page.
 *
 * All the available variables are mirrored in html.html.twig and
 * page.html.twig. Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_install_page()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html lang="{{ language.langcode }}" dir="{{ language.dir }}" class="install-background">
<head>
  <title>{{ head_title }}</title>
  {{ head }}
  {{ styles }}
  {{ scripts }}
</head>
<body class="install-page">
  <div id="page">
    <div id="header">
      {% if site_name %}
        <h1 id="site-name">
          <span>{{ site_name }}</span>
        </h1>
      {% endif %}

      {% if site_slogan %}
        <div id="site-slogan">{{ site_slogan }}</div>
      {% endif %}

      {% if header %}
        <div id="header-region">
          {{ header }}
        </div>
      {% endif %}

    </div> <!-- /header -->

    <div id="container" class="clearfix">

      {% if sidebar_first %}
        <div id="sidebar-first" class="column sidebar">
          {{ sidebar_first }}
        </div> <!-- /sidebar-first -->
      {% endif %}

      <div id="content" class="column">
        {% if title %}<h1 class="title" id="page-title">{{ title }}</h1>{% endif %}
        {% if messages %}{{ messages }}{% endif %}
        <div id="content-content" class="clearfix">
          {{ content }}
        </div> <!-- /content-content -->
      </div> <!-- /content -->

      {% if sidebar_second %}
        <div id="sidebar-second" class="column sidebar">
          {{ sidebar_second }}
        </div> <!-- /sidebar-second -->
      {% endif %}

    </div> <!-- /container -->

    <div id="footer-wrapper">
      <div id="footer">
        {% if footer %}{{ footer }}{% endif %}
      </div> <!-- /footer -->
    </div> <!-- /footer-wrapper -->

  </div> <!-- /page -->
</body>
</html>
