{#
/**
 * @file
 * Default theme implementation for a three column layout.
 *
 * This template provides a three column 25%-50%-25% display layout, with
 * additional areas for the top and the bottom.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'layout--threecol',
]
%}
{% if content %}
<div{{ attributes.addClass(classes) }}>
  {% if content.top %}
    <div class="layout-region layout-region--fullwidth">
      {{ content.top }}
    </div>
  {% endif %}

  <div class="layout-region layout-region--side">
    {{ content.left }}
  </div>

  <div class="layout-region layout-region--middle">
    {{ content.middle }}
  </div>

  <div class="layout-region layout-region--side">
    {{ content.right }}
  </div>

  {% if content.bottom %}
    <div class="layout-region layout-region--fullwidth">
      {{ content.bottom }}
    </div>
  {% endif %}
</div>
{% endif %}
