<div{{ attributes.addClass('branding') }}>
  {% if site_logo %}
    <a href="{{ url }}" rel="home" class="branding__site-logo">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}

  {% if site_name %}
    <div class="branding__site-name">
      <a href="{{ url }}" rel="home">
        {% block site_name %}{% endblock %}
      </a>
    </div>
  {% endif %}
  {% if site_slogan %}
    <div class="branding__site-slogan">
      {% block site_slogan %}{% endblock %}
    </div>
  {% endif %}
</div>
