{#
/**
 * @file
 * Default template for admin toolbar.
 *
 * Available variables:
 *
 * - tabs: Themed links for the top level tabs.
 * - trays: An array of trays. It contains:
 *   - content: The themed tray content.
 *   - attributes: HTML attributes for the surrounding element. It includes:
 *     - id: The unique id of the tray. This corresponds to the module name
 *       registered the tray.
 *     - class: A list of classes to target the trays for styling.
 * - attributes: HTML attributes for the surrounding element. It includes:
 *   - id: The unique id of the toolbar.
 *   - class: A list of classes to target the toolbar for styling.
 *
 * @see template_preprocess()
 * @see template_preprocess_toolbar()
 *
 * @ingroup themeable
 */
#}

<nav id="{{ attributes.id }}" class="{{ attributes.class }}"{{ attributes }}>
  <!-- Tabs -->
  {{ tabs }}

  <!-- Trays -->
  {% for tray in trays %}
    <div id="{{ tray.attributes.id }}" class="{{ tray.attributes.class }}"{{ tray.attributes }}>
      <div class="lining clearfix">
        <h3 class="element-invisible">{{ tray.heading }}</h3>
        {{ tray.content }}
      </div>
    </div>
  {% endfor %}
</nav>
