{#
/**
 * @file
 * Default theme implementation to present an aggregator feed.
 *
 * The contents are rendered above feed listings when browsing source feeds.
 * For example, "example.com/aggregator/sources/1".
 *
 * Available variables:
 * - title: Title of the feed item.
 * - content: All field items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given element.
 *
 * @see template_preprocess_aggregator_feed()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('aggregator-feed') }}>

  {{ title_prefix }}
  {% if not full %}
    <h2{{ title_attributes }}>{{ title }}</h2>
  {% endif %}
  {{ title_suffix }}

  {{ content }}

</div>
